@import "./sections/header";
@import "./sections/footer";

// Sections
@import "./sections/section1";


// $var
$color: #000000;
$accent-color: #da21ea;
$white: white;

// @mixin



// ----------- //
.hide {
	display: none;
}

body {
	// *DON'T FORGET ABOUT FONTS
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	color: $color;
	font-weight: 400;
	background-image: url(../img/bg.jpeg);
	background-repeat: no-repeat;
	background-size: cover;

	// Sticky footer
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.footer {
	margin-top: auto;
}

.container {
	max-width: 1470px;
	margin: 0 auto;
	padding: 0 15px;
}