body {
	// DON'T FORGET ABOUT FONTS
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #000000;
	background-image: url(../img/bg.jpeg);
	background-repeat: no-repeat;
	background-size: cover;

}

a {
	color: #000000;
}

.conteiner {
	max-width: 1440px;
}