@import "section1";

// $var
$color: #000000;
$accent-color: #da21ea;
$white: white;
// @mixin




// ----------- //
.btn-reset {
	border: none;
	background: transparent;
}

.hide {
	display: none;
}

.flex {
	display: flex;
}

body {
	// DON'T FORGET ABOUT FONTS
	font-family: 'Roboto', sans-serif;
	font-size: 60px;
	color: $color;
	background-image: url(../img/bg.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 15px;
}

.header {}